/* $loading-delay: 1s; */

#loading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--loading);

  /* & .preloader-wrapper {
     position: absolute;
     margin: 0;
     & * {
       animation-delay: 3s;
     }
   }
   & .spinner-dark-gold {
     border-color: darken(gold, 20%);
   }
   & .spinner-dark-teal {
     border-color: darken(teal, 10%);
   }
   & .spinner-dark-red {
     border-color: darken(red, 15%);
   }
   & .gold-c {
     animation-delay: $loading-delay;
     width: 160px;
     height: 160px;
     top: calc(50% - 80px);
     top: -webkit-calc(50% - 80px);
     top: -moz-calc(50% - 80px);
     top: -o-calc(50% - 80px);
     top: expression(50% - 80px);
     left: calc(50% - 80px);
     left: -webkit-calc(50% - 80px);
     left: -moz-calc(50% - 80px);
     left: -o-calc(50% - 80px);
     left: expression(50% - 80px);
   }
   & .dark-gold-c {
     animation-delay: $loading-delay + 300ms;
     position: absolute;
     margin: 0;
     width: 150px;
     height: 150px;
     top: calc(50% - 75px);
     top: -webkit-calc(50% - 75px);
     top: -moz-calc(50% - 75px);
     top: -o-calc(50% - 75px);
     top: expression(50% - 75px);
     left: calc(50% - 75px);
     left: -webkit-calc(50% - 75px);
     left: -moz-calc(50% - 75px);
     left: -o-calc(50% - 75px);
     left: expression(50% - 75px);
   }
   & .teal-c {
     animation-delay: $loading-delay + 600ms;
     position: absolute;
     margin: 0;
     width: 130px;
     height: 130px;
     top: calc(50% - 65px);
     top: -webkit-calc(50% - 65px);
     top: -moz-calc(50% - 65px);
     top: -o-calc(50% - 65px);
     top: expression(50% - 65px);
     left: calc(50% - 65px);
     left: -webkit-calc(50% - 65px);
     left: -moz-calc(50% - 65px);
     left: -o-calc(50% - 65px);
     left: expression(50% - 65px);
   }
   & .dark-teal-c {
     animation-delay: $loading-delay + 900ms;
     position: absolute;
     margin: 0;
     width: 120px;
     height: 120px;
     top: calc(50% - 60px);
     top: -webkit-calc(50% - 60px);
     top: -moz-calc(50% - 60px);
     top: -o-calc(50% - 60px);
     top: expression(50% - 60px);
     left: calc(50% - 60px);
     left: -webkit-calc(50% - 60px);
     left: -moz-calc(50% - 60px);
     left: -o-calc(50% - 60px);
     left: expression(50% - 60px);
   }
   & .red-c {
     animation-delay: $loading-delay + 1200ms;
     position: absolute;
     margin: 0;
     width: 100px;
     height: 100px;
     top: calc(50% - 50px);
     top: -webkit-calc(50% - 50px);
     top: -moz-calc(50% - 50px);
     top: -o-calc(50% - 50px);
     top: expression(50% - 50px);
     left: calc(50% - 50px);
     left: -webkit-calc(50% - 50px);
     left: -moz-calc(50% - 50px);
     left: -o-calc(50% - 50px);
     left: expression(50% - 50px);
   }
   & .dark-red-c {
     animation-delay: $loading-delay + 1500ms;
     position: absolute;
     margin: 0;
     width: 90px;
     height: 90px;
     top: calc(50% - 45px);
     top: -webkit-calc(50% - 45px);
     top: -moz-calc(50% - 45px);
     top: -o-calc(50% - 45px);
     top: expression(50% - 45px);
     left: calc(50% - 45px);
     left: -webkit-calc(50% - 45px);
     left: -moz-calc(50% - 45px);
     left: -o-calc(50% - 45px);
     left: expression(50% - 45px);
   } */
}
