@media screen and (max-width: 1200px) {
  .container { width: 85%; }
  .left-cloud, .right-cloud, .sun-cloud { width: 35%; }
}

@media screen and (max-width: 992px) {
  nav {
    position: fixed !important;

    & .time-toggle {
      position: absolute;
      top: 28px !important;
      right: 35px !important;
      left: auto !important;

      & .toggle { transform: scale(0.5); }
    }
  }

  #work-content {
    & section:not(:first-child) {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }
    & section > .container > .row {
      display: flex;
      flex-flow: column;
      & div[id*="-description"] { order: 1; }
      & div[id*="-image"] { order: 2; }
    }
    & div[class*="-text"] {
      padding-top: 0;
      padding-bottom: 4rem;
    }
  }

  #about-content  {
    & .row {
      display: flex;
      flex-flow: column;
      & #about-text {
        order: 1;
      }
      & #about-photo {
        order: 2;
        padding-top: 3rem;
      }
      & .photo-background { background-color: inherit !important; }
      & .text-background  { background-color: inherit !important; }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-title { margin-bottom: 0 !important; }
  .title      { font-size: 9rem !important; }
}

@media screen and (max-width: 350px) {
  .title { font-size: 35vw !important; }

  #work-content {
    & img {
      min-width: inherit !important;
      width: 100% !important;
    }
  }

  #about-content {
    & .about-photo-wrapper > img {
      min-width: inherit !important;
      width: 90% !important;
    }
    & .fl-indent { padding-left: 62px !important; }
    & .ny-indent { padding-left: 62px !important; }
    & .co-indent { padding-left: 62px !important; }
  }
}
