nav {
  position: absolute;
  z-index: 1;
  background-color: var(--nav-background);

  & a { color: var(--sidenav-trigger); }

  & .time-toggle {
    position: fixed;
    top: 43px;
    left: 45px;
  }

  & .nav-wrapper > ul > li {
    margin-top: 15px;
    margin-bottom: 15px;

    & a {
      font-family: 'Baloo Tammudu 2', cursive, sans-serif;
      font-weight: 600;
      font-size: 20px;
      padding-left: 40px;
      padding-right: 40px;
      color: var(--nav-btn);
      
      & i { font-size: 50px; }
    }

    & a:hover {
      background-color: inherit !important;
      color: $custom-teal !important;
    }
  }
}

.sidenav {
  padding-top: 20px;
  background-color: var(--sidenav-background);

  li {
    padding-top: 15px;

    & a {
      font-family: 'Baloo Tammudu 2', cursive, sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: var(--sidenav-btn);
    }
  }
}
