.night {
  --background: #303c3c; /* $dark-background */

  --nav-background: #293333; /* $night-scene-background */
  --nav-btn: #f5f5f0; /* $light-gold */
  --sidenav-trigger: inherit;
  --sidenav-background: #293333; /* $night-scene-background */
  --sidenav-btn: #f5f5f0; /* $light-gold */

  --scene-background: #293333; /* $night-scene-background */

  --greeting-text: #f5f5f0; /* $light-gold */
  --page-title: #ab9120; /* $gold */

  --about-title: #91812c; /* $shaded-gold */
  --about-text: #f5f5f0; /* $light-gold */

  --recent-work-background: #3f4e4e;
  --recent-work-title: #ab9120; /* $gold */
  --recent-work-text: #f5f5f0; /* $light-gold */

  --earlybird-background: none;
  --earlybird-title: #f5f5f0; /* $light-gold */
  --earlybird-subtitle: #bfedea;
  --earlybird-text: #f5f5f0; /* $light-gold */
  --earlybird-btn: #e2c557; /* $btn-color */
  --earlybird-btn-text: #293333;

  --lacuna-background: none;
  --lacuna-title: #f5f5f0; /* $light-gold */
  --lacuna-subtitle: #bfedea;
  --lacuna-text: #f5f5f0; /* $light-gold */
  --lacuna-btn: #e2c557; /* $btn-color */
  --lacuna-btn-text: #293333;

  --personal-background: none;
  --personal-title: #f5f5f0; /* $light-gold */
  --personal-subtitle: #bfedea;
  --personal-text: #f5f5f0; /* $light-gold */
  --personal-btn: #e2c557; /* $btn-color */
  --personal-btn-text: #293333;

  --footer-background: #293333; /* $night-scene-background */
  --footer-title: #ab9120; /* $gold */
  --footer-text: #f5f5f0;
  --footer-btn: #ab9120;

  --social-background: #293333; /* $night-scene-background */
  --logo-filter: none;
  --logo-hover-filter: contrast(2) hue-rotate(110deg) brightness(0.6); /*$logo-green-shift */
}
