#scene {
  position: relative;
  padding-top: 90px;
  z-index: 0;
  background-color: var(--scene-background);

  & .left-cloud {
    content: url("../images/scenes/cloud.png");
    position: absolute;
    left: 5%;
    top: 30%;
    z-index: 1;
  }

  & .right-cloud {
    content: url("../images/scenes/cloud.png");
    position: absolute;
    left: 25%;
    top: 52%;
    z-index: 1;
  }

  & .sun-cloud {
    content: url("../images/scenes/sun-cloud.png");
    position: absolute;
    left: 65%;
    top: 17%;
    z-index: 1;
  }
}
