#work-content {
  & section {
    margin: 0;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  & .btn { font-weight: bold; }
  & .btn:hover {
    filter: contrast(1.4);
    transition: filter .4s ease;
  }
  & .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  & h4 { font-family: 'Baloo Tammudu 2', cursive, sans-serif; }
  & h6 {
    padding-bottom: 1rem;
    letter-spacing: 0.0625rem;
  }

  & img {
    min-width: 313px;
    width: 100%;
  }

  & p {
    font-size: 1.1rem;
    & a { color: $custom-teal; }
  }
}

#recent-work {
  background-color: var(--recent-work-background);

  & h2 {
    font-family: 'Satisfy', cursive, sans-serif;
    margin: 0;
    padding-bottom: 2rem;
    color: var(--recent-work-title);
  }

  & p {
    font-size: 1.5rem !important;
    color: var(--recent-work-text);
  }
}

#earlybird {
  background-color: var(--eb-background);

  .eb-text {
    padding-top: 2vw;

    & h4  { color: var(--eb-title); }
    & h6  { color: var(--eb-subtitle); }
    & p   { color: var(--eb-text); }
    & .btn {
      background-color: var(--eb-btn);
      color: var(--eb-btn-text);
    }
  }
}

#trailbuddy {
  background-color: var(--tb-background);

  .tb-text {
    padding-top: 5vw;

    & h4  { color: var(--tb-title); }
    & h6  { color: var(--tb-subtitle); }
    & p   { color: var(--tb-text); }
    & .btn {
      background-color: var(--tb-btn);
      color: var(--tb-btn-text);
    }
  }
}

#finance {
  background-color: var(--ft-background);

  .ft-text {
    padding-top: 5vw;

    & h4  { color: var(--ft-title); }
    & h6  { color: var(--ft-subtitle); }
    & p   { color: var(--ft-text); }
    & .btn {
      background-color: var(--ft-btn);
      color: var(--ft-btn-text);
    }
  }
}

#weather {
  background-color: var(--wb-background);

  .wb-text {
    padding-top: 2vw;

    & h4  { color: var(--wb-title); }
    & h6  { color: var(--wb-subtitle); }
    & p   { color: var(--wb-text); }
    & .btn {
      background-color: var(--wb-btn);
      color: var(--wb-btn-text);
    }
  }
}

#personal {
  background-color: var(--personal-background);

  .personal-text {
    padding-top: 3vw;

    & h4  { color: var(--personal-title); }
    & h6  { color: var(--personal-subtitle); }
    & p   { color: var(--personal-text); }
    & .btn {
      background-color: var(--personal-btn);
      color: var(--personal-btn-text);
    }
  }
}
